*{
  box-sizing: border-box;
}

body {
  background-color:#cbe9fa;
  margin: 0;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

<<<<<<< HEAD:src/index.scss
input, select{
  &.error{
    border-color: red !important;
  }
}
=======
>>>>>>> a05c615a78c09b43be68b8c7e6908f7bc9594b5d:src/index.scss

